
@import url("./vendor/normalize.css");

@import url("./vendor/fonts/fonts.css");

@import url("./blocks/page/page.css");
@import url("./blocks/container/container.css");

@import url("./blocks/header/header.css");
@import url("./blocks/container/__header/container__header.css");
@import url("./blocks/header/__wrapper/header__wrapper.css");
@import url("./blocks/header/__line/header__line.css");
@import url("./blocks/logo/logo.css");
@import url("./blocks/header/__logo/header__logo.css");
@import url("./blocks/header/__info/header__info.css");
@import url("./blocks/header/__register-link/header__register-link.css");
@import url("./blocks/header/__email/header__email.css");
@import url("./blocks/header/__sign-out/header__sign-out.css");


@import url("./blocks/content/content.css");
@import url("./blocks/container/__content/container__content.css");

@import url("./blocks/profile/profile.css");
@import url("./blocks/profile/__avatar-container/profile__avatar-container.css");
@import url("./blocks/profile/__avatar/profile__avatar.css");
@import url("./blocks/profile/__wrapper/profile__wrapper.css");
@import url("./blocks/profile/__avatar-edit-button/profile__avatar-edit-button.css");
@import url("./blocks/profile/__info/profile__info.css");
@import url("./blocks/profile/__name/profile__name.css");
@import url("./blocks/profile/__edit-button/profile__edit-button.css");
@import url("./blocks/profile/__about/profile__about.css");
@import url("./blocks/profile/__add-button/profile__add-button.css");

@import url("./blocks/places/places.css");
@import url("./blocks/content/__places/content__places.css");
@import url("./blocks/places/__items/places__items.css");
@import url("./blocks/profile/profile.css");
@import url("./blocks/profile/profile.css");

@import url("./blocks/card/card.css");
@import url("./blocks/card/__image/card__image.css");
@import url("./blocks/card/__info/card__info.css");
@import url("./blocks/card/__title/card__title.css");
@import url("./blocks/card/__favourites/card__favourites.css");
@import url("./blocks/card/__favourites-wrapper/card__favourites-wrapper.css");
@import url("./blocks/card/__counter/card__counter.css");
@import url("./blocks/card/__favourites/_active/card__favourities_active.css");
@import url("./blocks/card/__delete/card__delete.css");

@import url("./blocks/footer/footer.css");
@import url("./blocks/container/__footer/container__footer.css");
@import url("./blocks/footer/__copyright/footer__copyright.css");

@import url("./blocks/popup/popup.css");
@import url("./blocks/popup-edit/popup-edit.css");
@import url("./blocks/popup-add/popup-add.css");
@import url("./blocks/popup-delete/popup-delete.css");
@import url("./blocks/popup-image/popup-image.css");
@import url("./blocks/popup-update/popup-update.css");
@import url("./blocks/popup/__container/popup__container.css");
@import url("./blocks/form/form.css");
@import url("./blocks/popup/__form/popup__form.css");
@import url("./blocks/popup-image/__figure/popup-image__figure.css");
@import url("./blocks/popup-image/__photo/popup-image__photo.css");
@import url("./blocks/popup-image/__figcaption/popup-image__figcaption.css");
@import url("./blocks/popup/__close/popup__close.css");
@import url("./blocks/popup/__title/popup__title.css");
@import url("./blocks/popup/__title/_margin/popup__title_margin_bottom.css");
@import url("./blocks/popup/__title/_text-align_center/popup__title_text-align_center.css");
@import url("./blocks/form/__container/form__container.css");
@import url("./blocks/form/__input/form__input.css");
@import url("./blocks/form/__input/_type/form__input_type_error.css");
@import url("./blocks/form/__error/form__error.css");
@import url("./blocks/form/__error/_visible/form__error_visible.css");
@import url("./blocks/form/__button/form__button.css");
@import url("./blocks/form/__button/_disabled/form__button_disabled.css");
@import url("./blocks/popup/__image/popup__image.css");
@import url("./blocks/popup/_opened/popup_opened.css");

@import url("./blocks/login/login.css");
@import url("./blocks/container/__login/container__login.css");
@import url("./blocks/login/__form/login__form.css");
@import url("./blocks/login/__title/login__title.css");
@import url("./blocks/login/__input/login__input.css");
@import url("./blocks/login/__button/login__button.css");

@import url("./blocks/register/register.css");
@import url("./blocks/container/__register/container__register.css");
@import url("./blocks/register/__form/register__form.css");
@import url("./blocks/register/__title/register__title.css");
@import url("./blocks/register/__input/register__input.css");
@import url("./blocks/register/__button/register_button.css");
@import url("./blocks/register/__caption/register__caption.css");
@import url("./blocks/register/__link/register__link.css");
