.places__items {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  row-gap: 20px;
  column-gap: 17px;
  padding: 0;
  margin: 0;
}
@media screen and (max-width: 767px) {
  .places__items {
    grid-template-columns: 1fr 1fr;
    row-gap: 20px;
    column-gap: 17px;
  }
}
@media screen and (max-width: 567px) {
  .places__items {
    grid-template-columns: 1fr;
  }
}
